<!-- uploader + CarrierWave 多图上传 栗子 -->
<%= form_for [:admin, @market_templete] do |f| %>
<table class="grid_form">
  <tbody>
    <tr>
      <td class="field"><b>*</b>图片_1:</td>
      <td>
        <%= f.text_field :img_1 %>
        <input type="button" id="upload_common_file_btn_img_1" value="图片1"/>
        <input type="button" id="img_1_hidden" style="display:none;">
        <div>
          <a target="_blank" href="" id="upload_img_a_link_img_1"><img src="" id="upload_img_img_1" style="max-height:100px"/></a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="field"><b>*</b>图片_2:</td>
      <td>
        <%= f.text_field :img_2 %>
        <input type="button" id="upload_common_file_btn_img_2" value="图片2"/>
        <input type="button" id="img_2_hidden" style="display:none;">
        <div>
          <a target="_blank" href="" id="upload_img_a_link_img_2"><img src="" id="upload_img_img_2" style="max-height:100px"/></a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="field"><b>*</b>图片_3:</td>
      <td>  
        <%= f.text_field :img_3 %>
        <input type="button" id="upload_common_file_btn_img_3" value="图片3"/>
        <input type="button" id="img_3_hidden" style="display:none;">
        <div>
          <a target="_blank" href="" id="upload_img_a_link_img_3"><img src="" id="upload_img_img_3" style="max-height:100px"/></a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="field"></td>
      <td>
        <%= f.submit params[:action] == "edit" ? "修改数据" : "新建数据" %>
      </td>
    </tr>
  </tbody>
</table>
<% end -%>

<script type="text/javascript">

$(function(){

  function onclick_img_1(){
    $("#img_1_hidden").uploader({url_field_id: "market_templete_img_1", a_link_id: "upload_img_a_link_img_1", image_show_id: "upload_img_img_1"});
  }

  $("#upload_common_file_btn_img_1").click(function(){
    onclick_img_1();
    $("#img_1_hidden").click();
  })


  function onclick_img_2(){
    $("#img_2_hidden").uploader({url_field_id: "market_templete_img_2", a_link_id: "upload_img_a_link_img_2", image_show_id: "upload_img_img_2"});
  }
  
  $("#upload_common_file_btn_img_2").click(function(){
    onclick_img_2();
    $("#img_2_hidden").click();
  })

  function onclick_img_3(){
    $("#img_3_hidden").uploader({url_field_id: "market_templete_img_3", a_link_id: "upload_img_a_link_img_3", image_show_id: "upload_img_img_3"});
  }

  $("#upload_common_file_btn_img_3").click(function(){
    onclick_img_3();
    $("#img_3_hidden").click();
  })
})

</script>
