<%= javascript_include_tag  "/javascripts/datetimepicker/WdatePicker.js" %>
<%= render 'layouts/header' %>
	<%= will_paginate @products %>
	<span class="title_right">
    <%= link_to "添加数据", new_product_path %>
  </span>
  <div class="box">
	<%= search_form_for @q do |f| %>
	  <%= f.text_field :name_cont, placeholder: '请输入产品名称' %>
		<%= f.select :type_id_eq, options_for_select(@types, params[:type_id]) %>
		<%= text_field_tag :created_at_gteq, params[:created_at_gteq], class: "datetimepicker", placeholder: "入库时间大于", "data-date-format" => "yyyy-mm-dd" %>
    ~	
    <%= text_field_tag :created_at_lteq, params[:created_at_lteq], class: "datetimepicker", placeholder: "入库时间小于", "data-date-format" => "yyyy-mm-dd" %>
  	<%= f.submit "搜索" %>
 	<% end %>
</div>
  <%= page_info(@products) %>
	<table class="grid_form">
		<tr>
      <td colspan="11" style="text-align:right;">
        <a style="color:red !important;" href="#" onclick="get_checkbox()">删除</a>
      </td>
    </tr>
		<tr>
			<th>
        <input type="checkbox" class="top_tree">
      </th>
			<th>ID</th>
			<th>名称</th>
			<th>价格</th>
			<th>是否有折扣</th>
			<th>上下架</th>
			<th width="20%">入库时间</th>
			<th>类型</th>
			<th>产品图片</th>
			<th>产品描述</th>
			<th width="16%">操作</th>
		</tr>
		<% @products.each do |p| %>
			<tr id="check_<%= p.id %>">
				<td width="20px;">
          <input type="checkbox" class="bottom_tree" value="<%= p.id %>">
        </td>
				<td><%= p.id %></td>
				<td><%= p.name %></td>
				<td><%= p.price %></td>
				<td><%= Product::DISCOUNT[p.discount] %></td>
				<td><%= Product::TOP_AND_DOWN[p.top_and_down] %></td>
				<td><%= p.created_at.to_s %></td>
				<td><%= p.type.try(:name) %></td>
				<td>
					<%= p.image.present? ? image_tag(p.image, width: 100, height: 100) : "暂无图片！" %>
				</td>
				<td class="describtion"><%= p.describtion %></td>
				<td class="action">
          <%= link_to '详情', p %>
          <%= link_to '编辑', [:edit, p] %>
          <%= link_to p.top_and_down? ? "下架" : "上架", change_top_and_down_product_path(id: p.id), method: :post, data: {confirm: p.top_and_down? ? "确定下架吗?" : "确定上架吗?"} %>
          <%= link_to p.discount? ? "取消活动" : "搞活动", change_discount_product_path(id: p.id), method: :post, data: {confirm: p.discount? ? "确定取消吗?" : "确定设置吗?"}%>
				</td>
			</tr>
		<% end %>
		<%= blank_table(11) if @products.blank? -%>
	</table>	
<%= render 'layouts/footer' %>
<%= will_paginate @products %>
