<%= render 'layouts/header' %>
	<%= will_paginate @products %>
	<span class="title_right">
    <%= link_to "添加数据", new_product_path %>
  </span>
  <%= render 'search_form' %>
  <%= page_info(@products) %>
	<table class="grid_form">
		<tr>
			<th>ID</th>
			<th>名称</th>
			<th>价格</th>
			<th>是否有折扣</th>
			<th>上下架</th>
			<th>入库时间</th>
			<th>类型</th>
			<th>产品图片</th>
			<th>操作</th>
		</tr>
		<% @products.each do |p| %>
			<tr>
				<td><%= p.id %></td>
				<td><%= p.name %></td>
				<td><%= p.price %></td>
				<td><%= Product::DISCOUNT[p.discount] %></td>
				<td><%= Product::TOP_AND_DOWN[p.top_and_down] %></td>
				<td><%= p.created_at.to_s %></td>
				<td><%= p.type.name %></td>
				<td>
					<%= image_tag p.image, width: 100, height: 100%>
				</td>
				<td>
          <%= link_to '详情', p %>
          <%= link_to '编辑', [:edit, p] %>
          <%= link_to '删除', p, method: :delete, data: {confirm: "你确定删除吗？"} %>
				</td>
			</tr>
		<% end %>
		<%= blank_table(8) if @products.blank? -%>
	</table>
<%= render 'layouts/footer' %>
<%= will_paginate @products %>
